:root {
  --primary-text-color: #2c3333;
  --header-bg-color: #2c3333;
  --bg-color: #e7f6f2;
  --accent-color: #395b64;
  --logo-primary-color: #a5c9ca;
  --logo-secondary-color: #e7f6f2;
  --card-bg-color: #ffffff;
  --btn-bg-color: #395b64;
  --btn-second-bg-color: #a5c9ca;
  --border-color: #a5c9ca;

  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --tansition-timing: 250ms;
}
