<div class="photo-card">
                <img src="./images/cat.png" alt="cat" loading="lazy" width="340" />
                <div class="photo-card-info-box">
                    <ul class="info">
                        <li class="info-item">
                            <h2 class="info-title">Likes</h2>
                            <p class="info-after-title">1165</p>
                        </li>
                        <li class="info-item">
                            <h2 class="info-title">Views</h2>
                            <p class="info-after-title">542</p>
                        </li>
                        <li class="info-item">
                            <h2 class="info-title">Comments</h2>
                            <p class="info-title-after">2845</p>
                        </li>
                        <li class="info-item">
                            <h2 class="info-title">Downloads</h2>
                            <p class="info-after-title">900</p>
                        </li>
                    </ul>
                </div>
            </div>