<section class="cards">
    <div class="container">
        <div class="gallery">
            <!-- Карточки изображений -->
            <div class="photo-card">
                <img src="./images/cat.png" alt="cat" loading="lazy" width="340"/>
                <div class="info">
                    <p class="info-item">
                        <b>Likes</b>
                    </p>
                    <p class="info-item">
                        <b>Views</b>
                    </p>
                    <p class="info-item">
                        <b>Comments</b>
                    </p>
                    <p class="info-item">
                        <b>Downloads</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>