.btn {
  padding: 8px 17px;
  width: 102px;
  height: 40px;

  font-family: 'Alef', sans-serif;
  font-size: 18px;
  line-height: 1.39;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--btn-bg-color);
  border: 1px solid #e7f6f2;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color var(--tansition-timing) var(--animation),
    box-shadow var(--tansition-timing) var(--animation),
    color var(--tansition-timing) var(--animation);
  &:hover {
    background-color: var(--btn-second-bg-color);
    box-shadow: 0px 4px 4px rgba(231, 246, 242, 0.25);
    color: var(--accent-color);
  }
  &-more{
    margin-top: 20px;
    width: 140;
    margin-left: auto;
    margin-right: auto;
  }
}
