.photo-card {
  width: 340px;
  height: 228px;
  background-color: var(--card-bg-color);
  border-right: 1px solid rgba(165, 201, 202, 0.72);
  border-bottom: 1px solid rgba(165, 201, 202, 0.72);
  border-left: 1px solid rgba(165, 201, 202, 0.72);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--tansition-timing) var(--animation),
    transform var(--tansition-timing) var(--animation);
  cursor: pointer;
  @include mobile{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
  }
}
.photo-card img {
  height: 170px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 4px 4px;
  width: 100%;
  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    &-after {
      font-weight: 400;
    }
  }
}
